body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 900px;
}

nav{
  background-color: lightskyblue;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

