<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Arizona COVID-19</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <link rel="stylesheet" href="static/style.css">
</head>

<section id="section">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="new1" href="index.html"></a>
      <div class="navbar" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="http://127.0.0.1:5000/maps">Map <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="http://127.0.0.1:5000/bar">Bar <span class="sr-only">(current)</span></a>
        </ul>
      </div>
  </nav>
</section>

<body>

   <!-- container -->
   <div class="container">

    <!-- row -->
    <div class="row">

      <!-- column -->
      <div class="col-md-12">

        <div class="box" id="main-text">
          <h1>Arizona COVID-19<h1>
          <section id="figure">
            <h3>Source of data</h3>
            <h2><small>Johns Hopkins University (JHU): <a href=https://coronavirus.jhu.edu/map.html target="_blank">https://coronavirus.jhu.edu/map.html</a></small></h2>
            <h2><small>JHU GitHub for COVID data - <a href=https://github.com/CSSEGISandData/COVID-19 target="_blank">https://github.com/CSSEGISandData/COVID-19</a></small></h2>
            <h2><small>JHU only started breaking cases down by county starting 3/24/2020, because of this, we will only be using data from that date to April 8th.</small></h2>
            <h3>Information</h3>
            <h2><small>We wanted to find the COVID-19 confirmed cases for Arizona and give a breakdown by county.</small></h2>

          </section>
          </div>

      </div>

      </div>

    </div>

  </div>
  <div id="plot"></div>
  <script src="{{url_for('static', filename='app1.js')}}"></script>

  <script> confirmed = myFunc({{ confirmed | tojson }})</script>

</body>

</html>