<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>AZ Confirmed Cases by Day</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css">
  <script src="https://uicdn.toast.com/tui.chart/latest/tui-chart-all.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <link rel="stylesheet" href="static/style.css">

</head>

<section id="section">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id="new1" href="index.html"></a>
      <div class="navbar" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="http://127.0.0.1:5000/maps">Map <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="http://127.0.0.1:5000/bar">Bar <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="http://127.0.0.1:5000/toast">Bar II <span class="sr-only">(current)</span></a>
        </ul>
      </div>
  </nav>
</section>

<body>

    <div id="chart-area"></div>
<!-- <p>{{confirmed}}</p>
<p>{{deaths}}</p> -->

<script src="{{url_for('static', filename='app3.js')}}"></script>
<script> var confirmed = myFunc({{confirmed | tojson }}, {{deaths | tojson}}) </script>


<p></p>

<link rel="stylesheet" href="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.css">
<script src="https://uicdn.toast.com/tui.chart/latest/tui-chart.min.js"></script>
</body>

</html>